<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lista Tareas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('tarea.lista_tareas') }}">Inicio</a> |
        {% if session.get('id_usuario') %}
            <a style="color: rgb(40, 162, 40);" href="{{ url_for('usuario.perfil', id=session.get('id_usuario')) }}">{{ session.nombre_usuario }}</a> |
            <a href="{{ url_for('usuario.logout') }}">Cerrar Sesión</a>
        {% else %}
            <a href="{{ url_for('usuario.registro') }}">Registro</a> |
            <a href="{{ url_for('usuario.login') }}">Login</a>
        {% endif %}
    </nav>

    <!-- Flash messages con categorías -->
    {% with mensajes = get_flashed_messages(with_categories=true) %}
      {% if mensajes %}
        <div id="flash-container" class="flash-messages">
          {% for category, mensaje in mensajes %}
            <div class="flash flash-{{ category }}">{{ mensaje }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>